@model IEnumerable<SisprodIT2.Areas.Setor.Models.SetorModel>
@{
    ViewBag.Tema = "Setores";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="page-header">
        <h1>
            Cadastro de @ViewBag.Tema</h1>
        <p>
            Esta página é destinada ao cadastro de @ViewBag.Tema. Somente administradores possuem permissão
            para manipular os @ViewBag.Tema dos usuários.
        </p>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>Lista de @ViewBag.Tema</strong></p>
                </div>
                <div class="col-md-6 text-right">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    @{ string texto = "Adicionar " + ViewBag.Tema; }
                    @Html.ActionLink(texto, "Create")
                </div>
            </div>
            <table class="table table-bordered">
                <tr>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th class="col-md-1">
                        @Html.DisplayNameFor(model => model.Sigla)
                    </th>
                    <th class="col-md-3">
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th class="col-md-2">
                        @Html.DisplayNameFor(model => model.Telefone)
                    </th>
                    <th class="col-md-1 text-center">
                        @Html.DisplayNameFor(model => model.Ativo)
                    </th>
                    <th class="col-md-2">
                    </th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Sigla)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Telefone)
                        </td>
                        <td class="text-center">
                            @Html.DisplayFor(modelItem => item.Ativo)
                        </td>
                        <td class="text-center">
                            @Html.ActionLink("Editar", "Edit", new { id = item.SetorModelId }) |
                            @Html.ActionLink("Detalhes", "Details", new { id = item.SetorModelId }) |
                            @Html.ActionLink("Excluir", "Delete", new { id = item.SetorModelId })
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</div>
<!-- /container -->
