@model SisprodIT2.Areas.Telefone.Models.TelefoneModel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>TelefoneModel</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.DDD)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DDD)
            @Html.ValidationMessageFor(model => model.DDD)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Telefone)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Telefone)
            @Html.ValidationMessageFor(model => model.Telefone)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FuncionarioModelId, "Funionario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FuncionarioModelId", String.Empty)
            @Html.ValidationMessageFor(model => model.FuncionarioModelId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataCadastro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataCadastro)
            @Html.ValidationMessageFor(model => model.DataCadastro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataAtualizacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataAtualizacao)
            @Html.ValidationMessageFor(model => model.DataAtualizacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FuncionarioAtualizadorId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FuncionarioAtualizadorId)
            @Html.ValidationMessageFor(model => model.FuncionarioAtualizadorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ativo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ativo)
            @Html.ValidationMessageFor(model => model.Ativo)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
