@model SisprodIT2.Areas.Telefone.Models.TelefoneModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>TelefoneModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DDD)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DDD)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Telefone)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Telefone)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Funionario.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Funionario.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataCadastro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCadastro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataAtualizacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataAtualizacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FuncionarioAtualizadorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuncionarioAtualizadorId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ativo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ativo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.TelefoneModelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
