@model IEnumerable<SisprodIT2.Areas.Telefone.Models.TelefoneModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DDD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Telefone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Funionario.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataCadastro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DataAtualizacao)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FuncionarioAtualizadorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ativo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DDD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Telefone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Funionario.Nome)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataCadastro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DataAtualizacao)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FuncionarioAtualizadorId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ativo)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.TelefoneModelId }) |
            @Html.ActionLink("Details", "Details", new { id=item.TelefoneModelId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.TelefoneModelId })
        </td>
    </tr>
}

</table>
