@model SisprodIT2.Areas.Chamado.Models.ChamadoModel
@{
    ViewBag.Title = "Chamados";
    ViewBag.TitleSingle = "Chamado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    @*<div class="page-header">
        <h1>
            Detalhes de @ViewBag.Title</h1>
        <p>
            Esta página é destinada ao cadastro de @ViewBag.Title. Somente administradores possuem
            permissão para manipular os @ViewBag.Title dos usuários.
        </p>
    </div>*@
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="row">
                <div class="page-header">
                    <h3>
                        Detalhes do Chamado</h3>
                </div>
                
                @if (Model.Status != "Fechado")
                {
                    @Html.ActionLink("Editar", "Edit", "Chamado", new { area = "Chamado", id = Model.ChamadoModelId }, new { @class = "btn btn-primary btn-sm" })
                    @Html.ActionLink("Comentário", "Create", "Comentario", new { area = "Comentario", id = Model.ChamadoModelId }, new { @class = "btn btn-default btn-sm" })
                    @Html.ActionLink("Fechar Chamado", "Edit", new { id = Model.ChamadoModelId }, new { @class = "btn btn-default btn-sm" })
                    
                }
                @Html.ActionLink("Voltar para a lista", "Index", "Home", new { area = "" }, new { @class = "btn btn-Link btn-sm" })
                <hr />
            </div>
            <dl class="dl-horizontal">
                <dt>@Html.DisplayNameFor(model => model.Titulo)</dt>
                <dd>@Html.DisplayFor(model => model.Titulo)</dd>
                <dt>@Html.DisplayNameFor(model => model.Status)</dt>
                <dd>@Html.DisplayFor(model => model.Status)</dd>
                <dt>@Html.DisplayNameFor(model => model.Descricao)</dt>
                <dd>@Html.DisplayFor(model => model.Descricao)</dd>
                <dt>@Html.DisplayNameFor(model => model.CategoriaModelId)</dt>
                <dd>@Html.DisplayFor(model => model.Categoria.Descricao)</dd>
                <dt>@Html.DisplayNameFor(model => model.FuncionarioCriadorId)</dt>
                <dd>@Html.DisplayFor(model => model.FuncionarioCriador.Nome)</dd>
                <dt>@Html.DisplayNameFor(model => model.FuncionarioResponsavelId)</dt>
                <dd>@Html.DisplayFor(model => model.FuncionarioResponsavel.Nome)</dd>
                <dt>@Html.DisplayNameFor(model => model.FuncionarioAtualizadorId)</dt>
                <dd>@Html.DisplayFor(model => model.FuncionarioAtualizador.Nome)</dd>
                <dt>@Html.DisplayNameFor(model => model.FinalizacaoModelId)</dt>
                <dd>@Html.DisplayFor(model => model.Finalizacao.Descricao)</dd>
                <dt>@Html.DisplayNameFor(model => model.DataCadastro)</dt>
                <dd>@Html.DisplayFor(model => model.DataCadastro)</dd>
                <dt>@Html.DisplayNameFor(model => model.DataAtualizacao)</dt>
                <dd>@Html.DisplayFor(model => model.DataAtualizacao)</dd>
            </dl>
            <hr />
            <div class="page-header">
                <h3>
                    Comentários do Chamado</h3>
            </div>
            @foreach (var item in Model.ComentarioLista)
            {
                
                <p>
                    <h5>
                        <b>@Html.DisplayFor(modelItem => item.FuncionarioAtualizador.Nome) </b>adicionou
                        um comentário. Em @Html.DisplayFor(modelItem => item.DataCadastro)
                        @if (item.FuncionarioAtualizadorId == Convert.ToInt32(Session["FuncionarioModelId"]))
                        {
                            @: - <small>@Html.ActionLink("Editar", "Edit", "Comentario", new { area = "Comentario", id = item.ComentarioModelId }, new { })</small>
                            @: | <small>@Html.ActionLink("Excluir", "Delete", "Comentario", new { area = "Comentario", id = item.ComentarioModelId }, new { })</small>
                                                }
                    </h5>
                </p>
                <p>@Html.DisplayFor(modelItem => item.Comentario)</p>
                <hr />
                
            }
            <div class="row text-right">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                @Html.ActionLink("Adicionar Comentário", "Create", "Comentario", new { area = "Comentario", id = Model.ChamadoModelId }, new { })
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.9.1.js" type="text/javascript"></script>
