@model SisprodIT2.Areas.Chamado.Models.ChamadoModel
@{
    ViewBag.Title = "Chamados";
    ViewBag.TitleSingle = "Chamado";
    Layout = "~/Views/Shared/_Layout.cshtml";
    
}
<div class="container">
    <div class="page-header">
        <h1>
            Edição de @ViewBag.Title</h1>
        <p>
            Esta página é destinada à edição de @ViewBag.Title. Somente administradores possuem
            permissão para manipular os @ViewBag.Title dos usuários.
        </p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>Edição de @ViewBag.Title</strong></p>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, "", new { @style = "color: red" })
                @Html.HiddenFor(model => model.FuncionarioAtualizadorId, new { Value = @ViewBag.FuncionarioModelId }) 
                @Html.HiddenFor(model => model.DataCadastro)
                @Html.HiddenFor(model => model.DataAtualizacao, new { Value = DateTime.Now.ToString(new System.Globalization.CultureInfo("pt-BR")) })
                @Html.HiddenFor(model => model.Revisao, new { Value = @ViewBag.Revisao })
                @Html.HiddenFor(model => model.Status, new { Value = @ViewBag.Status })
                @Html.HiddenFor(model => model.FuncionarioCriadorId, new { Value = @ViewBag.FuncionarioModelId }) 
                @Html.HiddenFor(model => model.Ativo)
                @Html.HiddenFor(model => model.Revisao, new { Value = @ViewBag.Revisao })
                                
                @Html.ValidationMessageFor(model => model.DataCadastro)
                @Html.ValidationMessageFor(model => model.DataAtualizacao)
                @Html.ValidationMessageFor(model => model.FuncionarioAtualizadorId)
                @Html.ValidationMessageFor(model => model.Revisao)
                @Html.ValidationMessageFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Ativo)
                @Html.ValidationMessageFor(model => model.FuncionarioCriadorId)


                @Html.HiddenFor(model => model.ChamadoModelId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Titulo)
                    @Html.EditorFor(model => model.Titulo)
                    @Html.ValidationMessageFor(model => model.Titulo)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Descricao)
                    @Html.TextAreaFor(model => model.Descricao, 10, 20, null)
                    @Html.ValidationMessageFor(model => model.Descricao)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CategoriaModelId)
                    @Html.DropDownList("CategoriaModelId", String.Empty)
                    @Html.ValidationMessageFor(model => model.CategoriaModelId)
                </div>
                
                if (Session["Perfil"].ToString().Contains("Administrador")
                    || Session["Perfil"].ToString().Contains("Gerente")
                    || Session["Perfil"].ToString().Contains("Agente"))
                {
                    <div class="form-group">
                        @Html.LabelFor(model => model.FuncionarioResponsavelId)
                        @Html.DropDownList("FuncionarioResponsavelId", String.Empty)
                        @Html.ValidationMessageFor(model => model.FuncionarioResponsavelId)
                    </div>
                }
                
                
                

                <p>
                    <button type="submit" class="btn btn-default">
                        Salvar</button>
                    @Html.ActionLink("Cancelar", "Index", "Home", new { Area = "" }, new { @class = "btn btn-Link" })
                </p>

            }
            
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.9.1.js" type="text/javascript"></script>
<script type="text/javascript">

    $("#Titulo").addClass("form-control");
    $("#Descricao").addClass("form-control");
    $("#CategoriaModelId").addClass("form-control");
    $("#FuncionarioResponsavelId").addClass("form-control");

</script>
