@model SisprodIT2.Areas.Perfil.Models.PerfilModel

@{
    ViewBag.Title = "Perfis";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="container">
    <div class="page-header">
        <h1>
            Cadastro de @ViewBag.Title</h1>
        <p>
            Esta página é destinada ao cadastro de @ViewBag.Title. Somente administradores possuem
            permissão para manipular os @ViewBag.Title dos usuários.
        </p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>Cadastro de @ViewBag.Title</strong></p>
                </div>
            </div>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true, "", new { @style = "color: red" })
	@Html.HiddenFor(model => model.FuncionarioAtualizadorId, new { Value = @ViewBag.FuncionarioModelId }) 
    @Html.HiddenFor(model => model.DataCadastro, new { Value = DateTime.Now })
    @Html.HiddenFor(model => model.DataAtualizacao, new { Value = DateTime.Now })
    

        <div class="form-group">
            @Html.LabelFor(model => model.Descricao)
        
            @Html.EditorFor(model => model.Descricao)
            @Html.ValidationMessageFor(model => model.Descricao)
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Ativo)
        
            @Html.EditorFor(model => model.Ativo)
            @Html.ValidationMessageFor(model => model.Ativo)
        </div>

        <p>
            <button type="submit" class="btn btn-default">Adicionar</button>
			@Html.ActionLink("Cancelar", "Index", new object { }, new { @class = "btn btn-Link" })
        </p>
    
}

                @Html.ActionLink("Voltar para a lista", "Index")
            </div>
    </div>
</div>

<script src="~/Scripts/jquery-1.9.1.js" type="text/javascript"></script>
<script type="text/javascript">

    $("#Descricao").addClass("form-control");

</script>

