@model SisprodIT2.Areas.Endereco.Models.EnderecoModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<fieldset>
    <legend>EnderecoModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Pais)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Pais)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Municipio)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Municipio)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Bairro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Bairro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Rua)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Rua)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Complemento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Complemento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Numero)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Numero)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Referencia)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Referencia)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CEP)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CEP)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Funcionario.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Funcionario.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataCadastro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCadastro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataAtualizacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataAtualizacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FuncionarioAtualizadorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuncionarioAtualizadorId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ativo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ativo)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.EnderecoModelId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
