@model SisprodIT2.Areas.Endereco.Models.EnderecoModel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>EnderecoModel</legend>

        @Html.HiddenFor(model => model.EnderecoModelId)

        <div class="editor-label">
            @Html.LabelFor(model => model.Pais)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Pais)
            @Html.ValidationMessageFor(model => model.Pais)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.UF)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.UF)
            @Html.ValidationMessageFor(model => model.UF)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Municipio)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Municipio)
            @Html.ValidationMessageFor(model => model.Municipio)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Bairro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Bairro)
            @Html.ValidationMessageFor(model => model.Bairro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Rua)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Rua)
            @Html.ValidationMessageFor(model => model.Rua)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Complemento)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Complemento)
            @Html.ValidationMessageFor(model => model.Complemento)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Numero)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Numero)
            @Html.ValidationMessageFor(model => model.Numero)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Referencia)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Referencia)
            @Html.ValidationMessageFor(model => model.Referencia)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.CEP)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.CEP)
            @Html.ValidationMessageFor(model => model.CEP)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FuncionarioModelId, "Funcionario")
        </div>
        <div class="editor-field">
            @Html.DropDownList("FuncionarioModelId", String.Empty)
            @Html.ValidationMessageFor(model => model.FuncionarioModelId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataCadastro)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataCadastro)
            @Html.ValidationMessageFor(model => model.DataCadastro)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.DataAtualizacao)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.DataAtualizacao)
            @Html.ValidationMessageFor(model => model.DataAtualizacao)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.FuncionarioAtualizadorId)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.FuncionarioAtualizadorId)
            @Html.ValidationMessageFor(model => model.FuncionarioAtualizadorId)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.Ativo)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Ativo)
            @Html.ValidationMessageFor(model => model.Ativo)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
