@model SisprodIT2.Areas.Funcionario.Models.FuncionarioModel
@{
    ViewBag.Title = "Funcionários";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="page-header">
        <h1>
            Cadastro de @ViewBag.Title</h1>
        <p>
            Esta página é destinada ao cadastro de @ViewBag.Title. Somente administradores possuem
            permissão para manipular os dados dos @ViewBag.Title.
        </p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>Cadastro de @ViewBag.Title</strong></p>
                </div>
            </div>
            @using (Html.BeginForm())
            {
                @Html.ValidationSummary(true, "", new { @style = "color: red" })
                @Html.HiddenFor(model => model.FuncionarioAtualizadorId, new { Value = @ViewBag.FuncionarioModelId }) 
                @Html.HiddenFor(model => model.DataCadastro, new { Value = DateTime.Now.ToString(new System.Globalization.CultureInfo("pt-BR")) })
                @Html.HiddenFor(model => model.DataAtualizacao, new { Value = DateTime.Now.ToString(new System.Globalization.CultureInfo("pt-BR")) })
                @Html.ValidationMessageFor(model => model.DataCadastro)
                @Html.ValidationMessageFor(model => model.DataAtualizacao)
                @Html.ValidationMessageFor(model => model.FuncionarioAtualizadorId)

                <div class="form-group">
                    @Html.LabelFor(model => model.Nome)
                    @Html.EditorFor(model => model.Nome)
                    @Html.ValidationMessageFor(model => model.Nome)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.CPF)
                    @Html.EditorFor(model => model.CPF)
                    @Html.ValidationMessageFor(model => model.CPF)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.RG)
                    @Html.EditorFor(model => model.RG)
                    @Html.ValidationMessageFor(model => model.RG)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Nascimento)
                    @Html.EditorFor(model => model.Nascimento)
                    @Html.ValidationMessageFor(model => model.Nascimento)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Altura)
                    @Html.EditorFor(model => model.Altura)
                    @Html.ValidationMessageFor(model => model.Altura)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Usuario)
                    @Html.EditorFor(model => model.Usuario)
                    @Html.ValidationMessageFor(model => model.Usuario)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Senha)
                    @Html.PasswordFor(model => model.Senha)
                    @Html.ValidationMessageFor(model => model.Senha)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.PerfilModelId)
                    @Html.DropDownList("PerfilModelId",String.Empty)

                    @Html.ValidationMessageFor(model => model.PerfilModelId)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.SetorModelId)
                    @Html.DropDownList("SetorModelId",String.Empty)
                    @Html.ValidationMessageFor(model => model.SetorModelId)
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Ativo)
                    @Html.CheckBoxFor(model => model.Ativo, new { @checked = "checked" })
                    @Html.ValidationMessageFor(model => model.Ativo)
                </div>

                
                <div class="input_fields_wrap form-group">
                    <label>Telefone</label>
                    <div><input type="text" name="ddd[]" size="1px" /> - <input type="text" name="telefone[]" size="9px" /><button class="add_field_button"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button></div>
                </div>
                <div class="input_fields_wrap2 form-group">
                    <label>E-Mail</label>
                    <div><input type="text" name="email[]" size="50px" /><button class="add_field_button2"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button></div>
                </div>
                
                <p>
                    <button type="submit" class="btn btn-default">
                        Adicionar</button>
                    @Html.ActionLink("Cancelar", "Index", new object { }, new { @class = "btn btn-Link" })
                </p>
    
            }
            @Html.ActionLink("Voltar para a lista", "Index")
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.9.1.js" type="text/javascript"></script>
<script type="text/javascript">

    $("#Nome").addClass("form-control");
    $("#CPF").addClass("form-control");
    $("#RG").addClass("form-control");
    $("#Nascimento").addClass("form-control");
    $("#Altura").addClass("form-control");
    $("#Usuario").addClass("form-control");
    $("#Senha").addClass("form-control");
    $("#SetorModelId").addClass("form-control");
    $("#PerfilModelId").addClass("form-control");
    
    



    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap"); //Fields wrapper
        var add_button = $(".add_field_button"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div><input type="text" name="ddd[]" size="1px" /> - <input type="text" name="telefone[]" size="9px" /><button class="remove_field"><span class="glyphicon glyphicon-minus" aria-hidden="true"></button></div>'); //add input box
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });


    $(document).ready(function () {
        var max_fields = 10; //maximum input boxes allowed
        var wrapper = $(".input_fields_wrap2"); //Fields wrapper
        var add_button = $(".add_field_button2"); //Add button ID

        var x = 1; //initlal text box count
        $(add_button).click(function (e) { //on add input button click
            e.preventDefault();
            if (x < max_fields) { //max input box allowed
                x++; //text box increment
                $(wrapper).append('<div><input type="text" name="email[]" size="50px" /><button class="add_field_button2"><span class="glyphicon glyphicon-plus" aria-hidden="true"></button></div>'); //add input box
            }
        });

        $(wrapper).on("click", ".remove_field", function (e) { //user click on remove text
            e.preventDefault(); $(this).parent('div').remove(); x--;
        })
    });
</script>
