@model SisprodIT2.Areas.Funcionario.Models.FuncionarioModel

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>FuncionarioModel</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CPF)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CPF)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.RG)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.RG)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Nascimento)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Nascimento)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Altura)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Altura)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Usuario)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Usuario)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Senha)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Senha)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Perfil.Descricao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Perfil.Descricao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Setor.Nome)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Setor.Nome)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataCadastro)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataCadastro)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.DataAtualizacao)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.DataAtualizacao)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.FuncionarioAtualizadorId)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.FuncionarioAtualizadorId)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Ativo)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Ativo)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
