@model SisprodIT2.Areas.Comentario.Models.ComentarioModel
@{
    ViewBag.Title = "Comentários";
    ViewBag.TitleSingle = "Comentário";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="container">
    <div class="page-header">
        <h1>
            Exclusão de @ViewBag.Title</h1>
        <p>
            Esta página é destinada ao cadastro de @ViewBag.Title. Somente administradores possuem
            permissão para manipular os @ViewBag.Title dos usuários.
        </p>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-offset-3">
            <div class="row">
                <div class="col-md-6">
                    <p>
                        <strong>Deseja excluir este @ViewBag.TitleSingle?</strong></p>
                </div>
            </div>
            <hr />
            <p>
                <h5>
                    <b>@Model.FuncionarioAtualizador.Nome </b>adicionou um comentário. Em @Model.DataCadastro
                </h5>
            </p>
            <p>@Model.Comentario</p>
            <hr />
            @using (Html.BeginForm())
            {
                <p>
                    <button type="submit" class="btn btn-default">
                        Excluir</button>
                    @Html.ActionLink("Cancelar", "Index", new object { }, new { @class = "btn btn-Link" })
                </p>
            }
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-1.9.1.js" type="text/javascript"></script>
<script type="text/javascript">

    $("#Nome").addClass("form-control");
    $("#Sigla").addClass("form-control");
    $("#Descricao").addClass("form-control");
    $("#Telefone").addClass("form-control");
    $("#Ativo").addClass("checkbox");

</script>
